main {
  place-items: center;
}

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-top: 50px;
}

section img {
  max-width: 500px;
  height: auto;
}